{% extends 'base_2.html' %}

{% block content %}
   
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit">Сохранить изменения</button>
    </form>

    {% if form.errors %}
        <div class="error">
            <p>Please fix the following errors:</p>
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors|striptags }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if profile_form.errors %}
        <div class="error">
            <p>Please fix the following errors:</p>
            <ul>
                {% for field, errors in profile_form.errors.items %}
                    <li>{{ field }}: {{ errors|striptags }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}