{% extends "base_2.html" %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Вы успешно зарегистрировались!</h5>
                      <p class="card-text">Теперь вы можете оставлять публикации на нашем сайте.</p>
                      <a href="{% url 'users:login' %}" class="btn btn-dark">Авторизация</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

{% endblock %}