{% load static %}

<div>
    <div class="favorites">
        {% if user.is_authenticated %}
            <a
            hx-get="{% url 'toggle_article_action' article.id 'favorite' %}"
            hx-target="closest div"
            hx-swap="outerHTML"
            style="cursor: pointer">
                {% if user in article.favorites.all %}
                    <i class="bi bi-star-fill text-dark"></i>
                {% else %}
                    <i class="bi bi-star text-dark"></i>
                {% endif %}
            </a>
        {% else %}
            <a href="{% url 'users:login' %}"><i class="bi bi-star text-dark"></i></a>
        {% endif %}

        {{ article.favorites.count }}
    </div>
</div>

