<!-- templates/category_select.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Select Category</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .category-buttons, .subcategory-buttons {
            margin: 20px 0;
        }
        .subcategory-buttons {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Select Category</h1>
    <div class="category-buttons">
        {% for category in categories %}
            <button class="category-btn" data-id="{{ category.id }}">{{ category.name }}</button>
        {% endfor %}
    </div>
    <div class="subcategory-buttons" id="subcategories"></div>
    <div class="subcategory-buttons" id="subsubcategories"></div>

    <script type="text/javascript">
        function loadSubcategories(categoryId, targetDiv, nextDiv) {
            var url = "{% url 'load_subcategories' %}";
            $.ajax({
                url: url,
                data: {
                    'category_id': categoryId
                },
                success: function (data) {
                    $(targetDiv).empty().hide();
                    $(nextDiv).empty().hide();
                    if (data.length > 0) {
                        data.forEach(function (subcategory) {
                            var button = $('<button class="subcategory-btn" data-id="' + subcategory.id + '">' + subcategory.name + '</button>');
                            $(targetDiv).append(button);
                        });
                        $(targetDiv).show();
                        $(targetDiv + ' .subcategory-btn').click(function() {
                            loadSubcategories($(this).data('id'), nextDiv, '#subsubcategories');
                        });
                    }
                }
            });
        }

        $('.category-btn').click(function() {
            loadSubcategories($(this).data('id'), '#subcategories', '#subsubcategories');
        });
    </script>
</body>
</html>