.section-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.registration-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
}

@media (max-width: 1024px) {
    .registration-container {
        width: 90%;
        border: none;
        margin-top: 0;
    }
}

.help-class {
    position: relative;
    top: 5px;
}

@media (max-width: 1000px) {
    .help-class {
        position: relative;
        top: -35px;
    }
    .password-confirmation {
        position: relative;
        top: -30px;
    }
    .nickname-class {
        position: relative;
        top: -20px;
    }
    .registration-button {
        width: 95%;
    }
    .date-birth-class {
        position: relative;
        top: -30px;
    }
    .card {
        margin: 15px 0 15px 0;
    }
}
 
