.auth-btn {
    display: none;
}

.auth-btn__register {}
.auth-btn__come {}


@media (max-width: 992px) {
    .auth-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        gap: 5px;
        margin-top: 5px;
    }
}